<h1>ABOUT</h1>

<%= form_for :article, url: articles_path do |f| %>

  <div id="error" style="background:red">
<% if @article.errors.any? %>
<h2>An error occured!!!</h2>
<p>Please enter a correct Title/Content</p>
<hr>
  <%= pluralize(@article.errors.count, "error") %>:

  <% @article.errors.full_messages.each do |msg| %>
    <br><br><%= msg %>
    <% end %>


  <% end %>
</div>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>


<%= link_to 'Back Home', home_index_path %><br>
<%= link_to 'Contacts Page', home_contacts_path %>
